<section>
	{% for page in pageslist | reverse %}
		<article{% if post.url == url %} data-current="current item"{% endif %}>
			<h3>
				<a href="{{ page.url | url }}">
					{% if page.data.title %}
						{{ page.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			{% if page.data.summary %}
				<p>
					{{ page.data.summary }}
				</p>
			{% endif %}
			<p>
				<time datetime="{{ page.date | machineDate }}">
					{# <small>{{ post.date | readableDate }} by <a href="/authors/{{ post.data.author | slug }}/">{{ post.data.author }}</a></small> #}
				</time>
			</p>
			{% if page.data.tags %}
				<p>
					{% for tag in page.data.tags %}
		  			{%- if tag != "post" -%}
		  				{% set tagUrl %}/tags/{{ tag }}/{% endset %}
		  			<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
		  			{%- endif -%}
					{% endfor %}
				</p>
			{% endif %}
		</article>
	{% endfor %}
</section>
