---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - page
    - pages
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
renderData:
  title: {{ tag }}
  metaDescription: "All content tagged with “{{ tag }}”"
---
<div class="flex w-full justify-center">
    <div class="mt-4 px-6 md:px-6 lg:px-8 xl:px-12 w-full max-w-5xl">
        <div class="wrapper flex justify-between">
             <div class="main  flex flex-col pr-0 prose sm:prose lg:prose-lg xl:prose-md">
<h1>Tagged: {{ tag }}</h1>

{% set postslist = collections[tag] %}
{% include "components/postslist.njk" %}

<nav>
  <a href="{{ '/blog/' | url }}">← Blog index</a>
</nav>

 </div>    
            
         
        </div>
    </div>
</div>
   

