.button-default {
  border: 0;
  border: 0.5px solid var(--text-highlight-bg);
  border-radius: 5px;
  background-color: var(--background-primary-alt);
  padding: 10px 30px;
  color: var(--text-normal);
  text-decoration: none;
  font-size: 1em;
  margin: 0 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.button-shine:before {
  z-index: -100;
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 110px;
  height: 50%;
  top: 0;
  filter: blur(25px);
  transform: translateX(-25px) skewX(-15deg);
  transition: 1s;
}

.button-shine:after {
  z-index: -100;
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 50%;
  top: 0;
  filter: blur(25px);
  transform: translateX(-25px) skewX(-15deg);
  transition: 1s;
}

.theme-light .button-default:hover {
  z-index: 100;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translate3d(0px, -1.5px, 0px);
}

.theme-dark .button-default:hover {
  z-index: 100;
  box-shadow: 0 4px 4px rgba(210, 210, 210, 0.25),
    0 10px 10px rgba(210, 210, 210, 0.22);
  transform: translate3d(0px, -1.5px, 0px);
}

.blue {
  background: #76b3fa;
  color: black;
}

.red {
  background: red;
}

.green {
  background: green;
}

.yellow {
  background: yellow;
  color: black;
}

.purple {
  background: #725585;
}

.blue:hover {
  background: #76b3fa;
  color: black;
}

.red:hover {
  background: red;
}

.green:hover {
  background: green;
}

.yellow:hover {
  background: yellow;
  color: black;
}

.purple:hover {
  background: #725585;
}
