/* @settings

name: Buttons
id: buttons-styles
settings:
    - 
        id: button-background
        title: Background
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#f5f6f8'
        default-dark: '#1b1b1b'
    - 
        id: button-text
        title: Text
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#1b1b1b'
        default-dark: '#f5f6f8'
    - 
        id: button-border
        title: Border
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#7a9486'
        default-dark: '#84a83a'
    - 
        id: button-box-shadow
        title: Box Shadow
        type: variable-themed-color
        format: rgb
        opacity: true
        default-light: '#1b1b1b'
        default-dark: '#f5f6f8'
    -
        id: button-border-radius
        title: Border Radius
        type: variable-number
        format: px
        default: 5
    -
        id: button-size
        title: Font Size
        type: variable-number
        format: em
        default: 1

*/

.block-language-button {
  padding: 5px;
}

button.button-default {
  background: var(--interactive-normal);
  border-radius: 5px;
  border: 1px solid var(--interactive-accent);
  color: var(--text-accent);
  padding: 10px 30px;
  text-decoration: none;
  font-size: var(--button-size);
  margin: 0;
  box-shadow: none;
  transform: none;
}

button.button-default:hover {
  background: var(--interactive-hover);
  border: 1px solid var(--interactive-accent-hover);
  color: var(--text-accent-hover);
  box-shadow: none;
  transform: none;
}

.theme-dark button.button-default {
  background: var(--interactive-normal);
  border: 1px solid var(--interactive-accent);
  color: var(--text-accent);
}

.theme-dark button.button-default:hover {
  background: var(--interactive-hover);
  border: 1px solid var(--interactive-accent-hover);
  color: var(--text-accent-hover);
  box-shadow: none;
  transform: none;
}

button.button-inline {
  width: unset;
  height: unset;
  padding: 0 8px;
}

button.blue {
  background: #76b3fa;
  color: black;
}

button.red {
  background-color: red;
}

button.green {
  background: green;
}

button.yellow {
  background: yellow;
  color: black;
}

button.purple {
  background: #725585;
}

button.orange{
    background: #ff944c;
    color: black;
}

button.blue:hover {
  background: #76b3fa;
  color: black;
}

button.red:hover {
  background: red;
}

button.green:hover {
  background: green;
}

button.yellow:hover {
  background: yellow;
  color: black;
}

button.purple:hover {
  background: #725585;
}

button.orange:hover {
    background: #ff944c;
    color: black;
}

.button-maker {
  max-width: 35rem;
  width: 35rem;
  overflow-y: auto;
  max-height: 30rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  overflow-x: hidden;
}
