<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or site.name }}</title>
  <meta name="description" content="{{ metaDescription or renderData.metaDescription or site.description }}">
  <link rel="stylesheet" href="/style.css?v={% version %}"/>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ site.emoji }}</text></svg>">

  {% set js %}
    {% include "assets/js/inline.js" %}
    {% include "assets/js/search.js" %}
  {% endset %}
  {% set darkmode %}
    {% include "assets/js/darkmode.js" %}
  {% endset %}

  <script>{{ darkmode | jsmin | safe }}</script>
  <script defer>{{ js | jsmin | safe }}</script>

 {% if site.enableNetlifyCMS == 1 %}
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
 {% endif %}

  {% if site.enableSearch == 1 %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js" defer></script>
  {% endif %}

  {% if site.navigationStyle == 'horizontal' %}
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>
  {% endif %}

</head>
